.stickyColor1 {
  background: #fdb9c9;
}

.stickyColor2 {
  background: #ffdcbe;
}

.stickyColor3 {
  background: #f6f3b5;
}

.stickyColor4 {
  background: #bbf6f3;
}

.stickyColor5 {
  background: #dcedc1;
}