* {
	margin: 0;
	padding: 0;
}

#mainBtnForm {
	float: right;
	z-index: 1;
}

#mainBtnForm > button {
	width: 90%;
	margin: 0.5%;
	float: right;
	padding: 0% 0.25%;
}

.sticky {
	position: absolute;
	margin: 2.5%;
	width: 17.5%;
	border-radius: 1em;
	box-shadow: 3em 3em 5em rgba(0, 0, 0, 0.25);
}

.sticky::after {
	content: "";
	display: block;
	padding-bottom: 100%;
	border-radius: 1em;
	box-shadow: inset 3em 3em 5em rgba(255, 255, 255, 0.25);
}

.sticky > textarea {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	background: none;
	border: none;
	resize: none;
	outline: none;
	padding: 0.1em;
}

.sticky > textarea:focus {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 1em;
}

.sticky > ul {
	position: absolute;
	top: 5%;
	left: 10%;
	width: 83%;
	height: 90%;
	padding-left: 0.25em;
}

.sticky > ul > li {
	font-family: monospace;
	padding: 0.1em;
	color: #000;
	font-size: 1.75em;
}

.sticky > ul > li:focus {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 0.2em;
	outline: none;
}

.sticky > ul > li:empty {
	color: rgba(0, 0, 0, 0.5);
}

.sticky > form {
	position: absolute;
	top: 85%;
	margin: 1em;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
}

.sticky:hover > form {
	visibility: visible;
	transition: 0.5s opacity ease-in;
	opacity: 1;
}

.stickyBlur {
	filter: blur(5px);
	pointer-events: none;
	z-index: -1;
}